.app {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(#175CDF, #1E63EF, #2357BA);
}

.app-logo {
  height: 40vmin;
}

.app-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  .btn-cancel {
    color: #fff;
    font-size: 15px;
    outline: none;
    font-weight: 500;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .btn-exchange{
    color: #fff;
    font-size: 15px;
    outline: none;
    font-weight: 600;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #175CDF;
}

.app .arrow-down {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: -0.8px;
}

.app-link {
  color: #61dafb;
}

.Dropdown-root {
  span.Dropdown-arrow{
    border-color: #fff transparent transparent;
  }
  .Dropdown-option{
    text-align: left;
  }
  .Dropdown-control{
    border:1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0.5px 0.5px 0.5px rgba(0,0,0,0.4);
    border-radius: 7px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  &.is-open {
    .Dropdown-arrow {
      border-color: transparent transparent #fff;
    }
  }
}
