.pocket-from {
  box-shadow: 0.5px 0.5px 0px rgba(255,255,255,0.5);
}

.pocket-from, .pocket-to {
  width: 100%;
  height: auto;
  padding: 20px 0;

  .pocket-container {
    text-align: left;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    transition: all 0.6s ease-in;
    margin-left: -1000px;
    height: 0;
    visibility: hidden;

    &.active {
      display: flex;
      padding: 30px 15%;
      opacity: 1;
      margin-left: 0;
      height: auto;
      visibility: visible;
    }

    input {
      width: 45%;
      background: transparent;
      color: #fff;
      font-size: 1em;
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: inset 0.2px 0.2px 0.2px rgba(0,0,0,0.3);
      padding-left: 0.5em;
      outline: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    label {
      color: rgba(255,255,255, 0.8);
      font-size: 50px;
      width: 45%;
    }

    h3 {
      color: rgba(255,255,255, 0.7);
    }
  }

  .dots {

    .dot {
      cursor: pointer;
      border-radius: 30px;
      width: 15px;
      height: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      margin: 0 5px;
      border: none;
      outline: none;

      &.active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.pocket-to {
  background-image: linear-gradient(#0d4cc8, #2357BA);
}